<div class="page-header">
<h1>Bible Verses</h1>
</div>

<%= link_to 'New Bible Verse', new_bible_verse_path, class: 'btn btn-primary' %>

<%= paginate @bible_verses %>
<table class="table table-bordered table-striped">
  <tr>
    <th>Ref</th>
    <th>Verse</th>    
  </tr>

<% @bible_verses.each do |bible_verse| %>
  <tr>
    <td class="span2"><%= bible_verse.reference %></td>
    <td><%= bible_verse.content %></td>    
  </tr>
<% end %>
</table>
<%= paginate @bible_verses %>
