<h1>Bible Verses</h1>
<div class="row">
  <%= search_form_for @q do |f| %>
    <div class="span3">
    <%= f.select :book_in, BibleVerse::BOOKS, include_blank: "Any" %>  
    </div>
    <div class="span2">
      <%= f.text_field :chapter_num_eq, :placeholder => 'Chapter', :class => 'span2' %>  
    </div>
    <div class="span2">
      <%= f.text_field :verse_num_eq, :placeholder => 'Verse', :class => 'span2' %>  
    </div>
    <div class="span2">
      <%= f.text_field :content_cont, :placeholder => 'Words', :class => 'span2' %>  
    </div>
    <div class="span2">
      <%= f.submit "Search", :class => "btn btn-primary" %>    
    </div>
  <% end %>
</div>

<table class="table table-bordered table-striped">
  <tr>
    <th><i class="fa fa-check"></i></th>
    <th>Ref</th>
    <th>Verse</th>        
  </tr>

<% @bible_verses.each do |bible_verse| %>
  <tr>
  	<td>
  		<% if bible_verse.selected %>
	  		<i class="fa fa-check"></i>
  		<% end %> 
  	</td>    
    <td class="span2">
    	<%= link_to bible_verse.reference, bible_verse_path(bible_verse) %>
    </td>
    <td><%= bible_verse.content %></td>    
  </tr>
<% end %>
</table>