<p id="notice"><%= notice %></p>

<p>
  <b>Version:</b>
  <%= @bible_verse.version %>
</p>

<p>
  <b>Tesatment:</b>
  <%= @bible_verse.testament %>
</p>

<p>
  <b>Reference:</b>
  <%= @bible_verse.reference %>
</p>

<p>
  <b>Book:</b>
  <%= @bible_verse.book %>
</p>

<p>
  <b>Book num:</b>
  <%= @bible_verse.book_num %>
</p>

<p>
  <b>Chapter num:</b>
  <%= @bible_verse.chapter_num %>
</p>

<p>
  <b>Verse num:</b>
  <%= @bible_verse.verse_num %>
</p>

<p>
  <b>Content:</b>
  <%= @bible_verse.content %>
</p>

<p>
  <b>Selected:</b>
  <%= @bible_verse.selected %>
</p>

<%= link_to 'Back', bible_verses_path, :class => 'btn' %>
