<%= simple_form_for([current_user, @user_subscription], html: {class: "well"}) do |f| %>
  <% if @user_subscription.errors.any? %> <div id="error_explanation">
      <h2><%= pluralize(@user_subscription.errors.count, "error") %> prohibited this user_subscription from being saved:</h2>
      <ul>
        <% @user_subscription.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form">
      <%= f.input :email %>
      <%= f.input :phone %>
      <%= f.hidden_field :sms_id, value: @user_subscription.sms_id %>
    </div>
    <br>

    <table class="table table-bordered table-striped table-condensed checkbox_days">
      <tr>
        <th>Select All</th>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tues</th>
        <th>Wed</th>
        <th>Thurs</th>
        <th>Fri</th>
        <th>Sat</th>
      </tr>
      <tr>
        <td> <input id="check_all_days" type="checkbox"></td>
        <td><%= f.check_box :send_day_1 %></td>
        <td><%= f.check_box :send_day_2 %></td>
        <td><%= f.check_box :send_day_3 %></td>
        <td><%= f.check_box :send_day_4 %></td>
        <td><%= f.check_box :send_day_5 %></td>
        <td><%= f.check_box :send_day_6 %></td>
        <td><%= f.check_box :send_day_7 %></td>
      </tr>
    </table>

        <div class="form">
          <%= f.input :remind_hour, collection: UserSubscription::select_hours,
                      :include_blank => false, :selected => '99' %>
        </div>
    <div class="actions">
      <%= f.submit 'Update', :class => 'btn btn-primary'%>
    </div>
      <% end %>

<% content_for :bottom do %>
  <script>
    $( document ).ready(function() {
      $('#check_all_days').click (function () {
        var checkedStatus = this.checked;
        $('.checkbox_days').find('td :checkbox').each(function () {
          $(this).prop('checked', checkedStatus);
        });
      });
      $('.checkbox_days td :checkbox').click (function() {
        var checkedStatus = this.checked;
        if (!checkedStatus) {
          $('#check_all_days').prop('checked', false); 
        }
      });
    });    
  </script>
<% end %>
