<div class="page-header">

<% if current_user and current_user.user_subscription.nil? %>
  <h1><%='Add Subscription'%></h1>
<% else %>
  <h1><%='My Subscription'%></h1>
<% end %>
</div>

<% if current_user and current_user.user_subscription.nil? %>
  <%= link_to 'New Subscription', new_user_user_subscription_path(current_user.id), class: "btn btn-primary" %>
<% end %>
<hr>

<table class="table table-bordered table-striped">
  <tr>
    <th></th>
    <th>Email</th>
    <th>Phone</th>
    <th>Carrier</th>
    <th>Remind hour</th>
    <th></th>    
  </tr>
  <% @user_subscriptions.each do |us| %> 
    <tr>
      <td><%= link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_user_user_subscription_path(current_user.id, us.id), :class => 'btn' %></td>
      <td><%= us.email %></td>
      <td><%= us.phone %></td>
      <td>
        <%= Rails.configuration.phone_carriers[us.phone_carrier].name%>
      </td>
      <td><%= us.remind_hour %></td>
      <td>
      <%= link_to '<i class="icon-circle-arrow-up"></i> Test'.html_safe, send_now_user_user_subscription_path(current_user.id,  us.id), :class => 'btn btn-primary' %>
      <%= link_to '<i class="icon-remove"></i> Remove'.html_safe, user_user_subscription_path(current_user.id, us.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>      
      </td>
    </tr>
  <% end %>    
</table>