<div class="page-header">
<h1>Manage Subscription</h1>
</div>

<% @user_subscriptions.each do |user_subscription| %> 
    <div class="user_subscription">
        <br>Email</br>
          <strong><%= user_subscription.email %></strong>
        <br>Phone</br>
          <strong><%= user_subscription.phone %></strong>
        <br>Remind Time</br>
          <strong><%= user_subscription.remind_hour %>:<%= user_subscription.remind_minute %></strong>
    </div>

    <td><%= link_to 'Show', user_subscription %></td>
    <td><%= link_to 'Edit', edit_user_subscription_path(user_subscription) %></td>
    <td><%= link_to 'Destroy', user_subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end%>

<br>
</br>

<div>
<%= link_to 'Add a New subscription', new_user_subscription_path, class: "btn" %>
</div>
