<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user_subscription.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @user_subscription.phone %>
  <%= @user_subscription.sms_id %>
</p>

<p>
  <b>Is active:</b>
  <%= @user_subscription.is_active %>
</p>

<p>
  <b>Remind at:</b>
  <%= @user_subscription.remind_hour %>:<%= @user_subscription.remind_minute %>
</p>



<%= link_to 'Edit', edit_user_user_subscription_path(current_user, @user_subscription) %> |
<%= link_to 'Back', user_user_subscriptions_path(current_user) %>
