<h1>Listing verse_references</h1>

<table>
  <tr>
    <th>Book</th>
    <th>Chapter</th>
    <th>Verse number</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @verse_references.each do |verse_reference| %>
  <tr>
    <td><%= verse_reference.book %></td>
    <td><%= verse_reference.chapter %></td>
    <td><%= verse_reference.verse_number %></td>
    <td><%= verse_reference.content %></td>
    <td><%= link_to 'Show', verse_reference %></td>
    <td><%= link_to 'Edit', edit_verse_reference_path(verse_reference) %></td>
    <td><%= link_to 'Destroy', verse_reference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Verse reference', new_verse_reference_path %>
