<p id="notice"><%= notice %></p>

<p>
  <b>Book:</b>
  <%= @verse_reference.book %>
</p>

<p>
  <b>Chapter:</b>
  <%= @verse_reference.chapter %>
</p>

<p>
  <b>Verse number:</b>
  <%= @verse_reference.verse_number %>
</p>

<p>
  <b>Content:</b>
  <%= @verse_reference.content %>
</p>


<%= link_to 'Edit', edit_verse_reference_path(@verse_reference) %> |
<%= link_to 'Back', verse_references_path %>
