<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand">
          <%= link_to "Coming To Him", root_path %>
      </div>
      <% if current_user.nil? %>
        <ul class="nav">
          <li class="navbar-inner"><%= link_to "Login", user_session_path %></li>
        </ul>
      <% else %>
        <ul class="nav">
          <li class="navbar-inner"><%= link_to "My Subscription", user_user_subscriptions_path(current_user.id)  %></li>
          <li class="navbar-inner"><%= link_to "Verses", bible_verses_path %></li>
          <li class="navbar-inner"><%= link_to "Logout", destroy_user_session_path, :method => 'DELETE' %></li>
        </ul>
       <% end %>
      </div>
    </div>
  </div>
</div>
