<!DOCTYPE html>
<html>
<head>
  <title>SmsVerses</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="brand"><%= link_to "Coming To Him", user_user_subscriptions_path(current_user.id) %></div>
          <% if current_user.nil? %>
            <ul class="nav">
              <li class="navbar-inner"><%= link_to "Login", user_session_path %></li>
                  <% else %>
            <ul class="nav">
              <li class="navbar-inner"><%= link_to "Logout", destroy_user_session_path, :method => 'DELETE' %></li>
              <li class="navbar-inner"><%= link_to "Verse of the Day", bible_verses_path %></li>
            </ul>
          <% end %>
      </div>
    </div>
  </div>

  <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

  <%= yield %>
  </div>

</body>
</html>
